<!-- <body class="backgroundimg" background= "https://images.unsplash.com/photo-1445205170230-053b83016050?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=18b277cdf966f5a782a14f6adf300fe8"> -->





<div class="field">
  For Demo:
  Email: rlgoolsby@gmail.com
  Password: hunter9

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>

    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>

    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>


    <div class="actions">
      <%= f.submit "Sign up", class: "sign--up" %>
    </div>
<% end %>



<%= render "devise/shared/links" %>
<% if current_user %>
    <%= button_to 'Sign out', destroy_user_session_path, method: :delete%>
<% end %>
</div>

</div>
