<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<% if current_user %>
  <div class="searchform">
    <%= form_tag('/interview', method: :post) %>
       <p class="positions">Company<br></p>
       <input type="text" name="q">

<!---   POSTIONS DROPDOWN PANEL -->

    <div class="positions">Click to select a Position</div>

    <%= render partial: "/shared/dropdownmenu" %>

    <button type="submit" value="Submit" class="myButton">Prep!</button>

  </div><!--  end of searchform  -->
  <h1>
    Your most recent saved reviews are:
  </h1>
  <% @reviews.each do |f| %>
  <div id="columns" class="top5SavedReviews">
    <figure>
    <%= button_to "#{f.position}, #{f.company}", {:controller => "interview", :action => "create", :positions => f.position, :q=> f.company} , :method=>:post  %>
  </figure>
</div>
    <% end %>


<% else %>
  <!--Login Page  -->
  <%= image_tag("newtitle.png", class:"maintitle") %>
  <%= image_tag("WATERCOLOR.png", class:"behindtitle") %>

  <a><%= link_to "Sign Up", new_user_registration_path, :method => :get, class:"signup" %></a>
  <a><%= link_to "Log In",user_session_path, :method => :get, class:"login" %></a>



  <% end %>
