<!DOCTYPE html>
<html>

<body class="backgroundimg" background= "https://images.unsplash.com/photo-1445205170230-053b83016050?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=18b277cdf966f5a782a14f6adf300fe8">
  <div class="overlay">

    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="/aboutus">About</a></li>

      <% if current_user%>
      <%= button_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% else %>
      <li class="signin"><a href="/users/sign_in">Log In</a></li>
      <% end %>
    </ul>

  </div>

  <div class="searchform">
    <% if current_user %>
    <%= form_for :q, url: interview_index_path do |f| %>
    <%= f.text_field :q, placeholder: "Company" %>

    <%= f.text_field :position, placeholder: "Position" %>
    <%= f.submit "submit" %>
    <% end %>
    <% else %>
    <form action="/users/sign_in", method="GET">
      <button> LOGIN </button>
    </form>
    <% end %>
  </div>


</body>
</html>
