<h1>this is the amazon info</h1>

<% @items.each do |r| %>
<div class="cards" >
  <div class="insideimage">
    <a href=<%= r.url %>>
      <img src=<%= r.image %>></img>
    </a>
  </div>
  <div class="insidetext">
    <%= r.clothing_title %>
    <%= r.price %>
  </div>
  <%= form_for :number, url: amazoncart_index_path(r.asin) do |f| %>
  <%= f.submit "add to cart" %>
  <%= f.hidden_field :ASIN, value: r.asin %>
  <% end %>

</div>
<% end %>
