<div class="flex-boxes">
  <a href="javascript:void(0)" class="flex-box">
    <h1 class="flex-title"><%= @name %></h1>
    <div class="glassdoorContent">
    <p>Industry:   <%= @industry %></p>
    <p>Sector:  <%= @sector %></p>
    <% unless @total_rating == nil %>
      <p>Total Rating:</p>
      <p class="ratings"><%= show_stars @total_rating %></p>
    <% end %>
    <% unless @balance_rating == nil %>
      <p>Work Life Balance Rating:</p>
      <p class="ratings"><%= show_stars @balance_rating %></p>
    <% end %>
    <% unless @benefits_rating == nil %>
      <p>Health Benefits Rating:</p>
      <p class="ratings"><%= show_stars @total_rating %></p>
    <% end %>
  </div>
  </a>
</div>
