<h2>Log in</h2>
<%# so the js here will let you get to the log in with amazon page but then it will error out be cause of something.
This seems to be a Puma error maybe?

ASK JAMES ABOUT THIS TOMORROW!!!
  here is the error:

  2016-07-17 14:49:59 -0400: HTTP parse error, malformed request (): #<Pu
  ma::HttpParserError: Invalid HTTP format, parsing fails.>
  2016-07-17 14:49:59 -0400: ENV: {"rack.version"=>[1, 3], "rack.errors"=
  >#<IO:<STDERR>>, "rack.multithread"=>true, "rack.multiprocess"=>false,
  "rack.run_once"=>false, "SCRIPT_NAME"=>"", "QUERY_STRING"=>"", "SERVER_
  PROTOCOL"=>"HTTP/1.1", "SERVER_SOFTWARE"=>"puma 3.4.0 Owl Bowl Brawl",
  "GATEWAY_INTERFACE"=>"CGI/1.2"}

  to recreate the problem:
  open an incognito window(or if you have not logged in you can open a normal one)
  Click the sign in with amazon button
  try to sign in
  get "this site cant provide a secure connection" error
  refresh the page back to localhost:3000
  click on amazon button again
  get the same error instantly.
  %>

<div id="amazon-root"></div>
<script type="text/javascript">

  window.onAmazonLoginReady = function() {
    amazon.Login.setClientId("amzn1.application-oa2-client.a5c727db89be45f995a54d3f291d0e43");
  };
  (function(d) {
    var a = d.createElement('script'); a.type = 'text/javascript';
    a.async = true; a.id = 'amazon-login-sdk';
    a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
    d.getElementById('amazon-root').appendChild(a);
  })(document);
</script>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<a href="#" id="LoginWithAmazon">
  <img border="0" alt="Login with Amazon"
    src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
    width="156" height="32" />
</a>
<script type="text/javascript">

  document.getElementById('LoginWithAmazon').onclick = function() {
    options = { scope : 'profile' };
    amazon.Login.authorize(options, 'http://localhost:3000//auth/:provider/callback');
    return false;
  };

</script>

<script type="text/javascript">
  document.getElementById('Logout').onclick = function() {
    amazon.Login.logout();
};
</script>

<%= render "devise/shared/links" %>
