<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Helvetica:400,100,700' rel='stylesheet' type='text/css'>


<div class="page-wrapper">

<header>
  <h1>Ready-Set-Prep<i class="fa fa-shopping-cart" aria-hidden="true"></i></h1>

  <nav class="bar">

    <img src="http://hauspanther.wpengine.netdna-cdn.com/wp-content/uploads/2014/04/CatsInClothes2.jpg" class="clothes">

    <h2>Log in</h2>


<div id="amazon-root"></div>
<script type="text/javascript">

  window.onAmazonLoginReady = function() {
    amazon.Login.setClientId("");
  };
  (function(d) {
    var a = d.createElement('script'); a.type = 'text/javascript';
    a.async = true; a.id = 'amazon-login-sdk';
    a.src = 'https://api-cdn.amazon.com/sdk/login1.js';
    d.getElementById('amazon-root').appendChild(a);
  })(document);
</script>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<a href="#" id="LoginWithAmazon">
  <img border="0" alt="Login with Amazon"
    src="https://images-na.ssl-images-amazon.com/images/G/01/lwa/btnLWA_gold_156x32.png"
    width="156" height="32" />
</a>
<script type="text/javascript">

  document.getElementById('LoginWithAmazon').onclick = function() {
    options = { scope : 'profile' };
    amazon.Login.authorize(options, 'http://localhost:3000//auth/:provider/callback');
    return false;
  };

</script>

<script type="text/javascript">
  document.getElementById('Logout').onclick = function() {
    amazon.Login.logout();
};
</script>

<%= render "devise/shared/links" %>
<% if current_user %>
    <%= button_to 'Sign out', destroy_user_session_path, method: :delete%>
<% else %>
    <li class="nav-link"><a href="/users/sign_in">Log In</a></li>
<% end %>
</nav>

</header>
</div>
