<!DOCTYPE html>

<html>
<body class="backgroundColor">
  <h1>interview create</h1>

  <section class="wrapper"><!-- may need to add a nav-bar div -->
    <ul class="tabs">
      <li class="active">Interview Tips</li>
      <li>Attire</li>
    </ul>

    <!-- start of grid system -->
    <div class="grid grid-pad">

      <div class="col-1-2 interviews">

        <div class="content__wrapper">
          <p>Name:   <%= @name %> </p>
          <p>Industry:   <%= @industry %></p>
          <p>Sector:   <%= @sector %></p>
          <div class="glassdoorCard ratings totalRating">
            <p>Total Rating:   <%= @total_rating %></p>
          </div>
          <div class="glassdoorCard ratings balanceRating">
            <% unless @balance_rating == nil %>
            <p>Work-Life Balance:   <%= @balance_rating %></p>
            <% end %>
          </div>
          <div class="glassdoorCard ratings benefitsRating">
            <% unless @benefits_rating == nil %>
            <p>Benefits Rating:   <%= @benefits_rating %> </p>
            <% end %>
          </div>
        </div>

        <div class="existingreviews">
          <% if Interviewreview.where(company: @name) != [] %>
          <% Interviewreview.where(company: @name).each do |i| %>
          <p><%= i.company %>
            <%= i.experience %>
            <%= i.length %>
            <%= i.difficulty %></p>
            <% end %>
            <% end %>
          </div>


          <div class="addANewReviewForm">
            <p> Had an interview with this company? add a review! </p>
            <%= form_for :interview, url: interviewreviews_path, method: :post do |f| %>
            <p><% f.label :company %>
              <%= f.hidden_field :company, :value => @name %>
            </p>

            <p><%= f.label :experience %>
              <%= f.text_area :experience %>
            </p>

            <p><%= f.label :length %>
              <%= f.select(:length, ['Less than 30 min', 'About 30 min', 'Less then an hour', '1-2 hours', '2-4 hours', '5+ hours']) %>
            </p>
            <p>
              <%= f.label :difficulty %>
              <%= f.select(:difficulty, ['very easy', 'easy', 'medium', 'difficult', 'very difficult']) %>
            </p>
            <p>
              <%= f.submit %>
            </p>
            <% end %>
          </div>
        </div>


<!-- end of col 1 ----------------------------->

<!--  ROW 2 ----------------------------------->
    <div class="col-1-2 company">
<!---   THE MAP  ---->

<%#sometimes it goes somwhere weird cause google maps is dumb and it will need to be fixed in the future.  %>
      <div class="map">
        <iframe
          width="340"
          height="340"
          src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDEHG0z1gcOISxiaqBGx0fcXm9_Onoe2OQ
          &origin=334+blackwell+st+durham+nc
          &destination=<%= @name %>
          &avoid=tolls|highways" allowfullscreen>
        </iframe>
      </div>
<!--  END OF MAP -->

<!-- COMPANY review -->
    <ul class="tab__content">

		  <li class="active">

        <div class="glassdoorCard reviews">
          <% unless @review == nil %>
          <p>Headline:   <%= @review["headline"] %></p>
          <p>Pros:   <%= @review["pros"] %></p>
          <p>Cons:   <%= @review["cons"] %></p>
          <% end %>
          <div class="addnewgeneralreviewform">
                    <%= form_for :reviews, url: reviews_path, method: :post do |f| %>
                    <p><% f.label :company %>
                      <%= f.hidden_field :company, :value => @name %>
                    </p>
                    <p><%= f.label :headline %>
                      <%= f.text_field :headline %>
                    </p>

                    <p><%= f.label :pros %>
                      <%= f.text_area :pros %>
                    </p>

                    <p><%= f.label :cons %>
                      <%= f.text_area :cons %>
                    </p>
                    <p>
                      <%= f.submit %>
                    </p>
                    <% end %>

                  </div>
                  </div>

        <!-- end of col 1-->

        <!--  ROW 2 -->
        
  </div><!---  End of grid-pad   ------------------------------>


    <!-- <li>
      <div class="content__wrapper">

        <% @items.each do |r| %>
        <div class="cards" >
          <div class="insideimage">
            <a href=<%= r.url %>>
              <img src=<%= r.image %>></img>
            </a>
          </div>
          <div class="insidetext">
            <%= r.clothing_title %>
            <%= r.price %>
          </div>
          <%= form_for :number, url: amazoncart_index_path(r.asin) do |f| %>
          <%= f.submit "add to cart" %>
          <%= f.hidden_field :ASIN, value: r.asin %>
          <% end %>
        </div>
        <% end %>

      </div>
    </li> -->



  </section>
</body>
</html>
