<!DOCTYPE html>
<html>
<body class="backgroundColor">


  <section class="wrapper">
    <ul class="tabs">
      <li class="active">Interview Tips</li>
      <li>Attire</li>
    </ul>

    <ul class="tab__content">

      <li class="active">
        <div class="content__wrapper">
          <p><%= @name %> name</p>
          <p><%= @industry %>industry</p>
          <p><%= @sector %>sector</p>
          <div class="glassdoorCard ratings totalRating">
            <p><%= @total_rating %>total rating</p>
          </div>
          <div class="glassdoorCard ratings balanceRating">
            <% unless @balance_rating == nil %>
            <p><%= @balance_rating %>balancerating</p>
            <% end %>
          </div>
          <div class="glassdoorCard ratings benefitsRating">
            <% unless @benefits_rating == nil %>
            <p><%= @benefits_rating %>benefits rating</p>
            <% end %>
          </div>
        </div>
        <div class="glassdoorCard reviews">
          <% unless @review == nil %>
          <p><%= @review["headline"] %>headline</p>
          <p><%= @review["pros"] %>pros</p>
          <p><%= @review["cons"] %>cons</p>
          <% end %>
        </div>
      </div>
    </li>


    <li>
      <div class="content__wrapper">

        <% @items.each do |r| %>
          <div class="cards">
            <%# r.url %>
            <div class="insideimage">
              <img src=<%= r.image %>></img>
            </div>
            <div class="insidetext">
              <%= r.clothing_title %>
              <%= r.price %>
            </div>
          </div>
          <% end %>

      </div>
    </li>


  </ul>
</section>





</body>

</html>
