<!DOCTYPE html>
<html>

<!-- <div class="wholemap"> -->
  <%#I really dont understand why encasing this whole thing in a div does not let it appear why u do dis css  %>
<div id="floating-panel">
  <b>Mode of Travel: </b>
  <select id="mode">
    <option value="DRIVING">Driving</option>
    <option value="WALKING">Walking</option>
    <option value="BICYCLING">Bicycling</option>
    <option value="TRANSIT">Transit</option>``
  </select>
</div>
<div id="map"></div>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJh1HtXl2x_IC54PoCH4qKYwhsxKNkAhs&callback=initMap">
</script>
<!-- </div> -->

<body class="backgroundColor">
  <ul class="tabs">
    <li class="active">Interview Tips</li>
    <li>Attire</li>
  </ul>
  <ul class="tab__content">
    <li class="active">
      <div class="content__wrapper">
        <h1>this is the glassdoor info</h1>
        <div class="grid grid-pad">
          <div class="col-1-2 ">
            <div class="flex-boxes">
              <a href="javascript:void(0)" class="flex-box">
                <h1 class="flex-title"><%= @name %></h1>
                <p>Industry:   <%= @industry %></p>
                <p>Sector:  <%= @sector %></p>
                <p>Total Rating:</p>
                <p class="ratings"><%= show_stars @total_rating %></p>
                <% unless @balance_rating == nil %>
                <p>Balance Rating:</p>
                <p class="ratings"><%= show_stars @balance_rating %></p>
                <% end %>
                <% unless @benefits_rating == nil %>
                <p>Benefits Rating:</p>
                <p class="ratings"><%= show_stars @total_rating %></p>
                <% end %>
              </a>
            </div>

            <% if Interviewreview.where(company: @name) != [] %>
            <% Interviewreview.where(company: @name).each do |i| %>
            <div class="flex-boxes">
              <a href="javascript:void(0)" class="flex-box">

                <p><%= i.company %></p>
                <p>Experience:  <%= i.experience %></p>
                <p><%= i.length %></p>
                <p><%= i.difficulty %></p>

              </a>
            </div>
            <p class="controllerbtn"><%= link_to "Delete", interviewreview_path(i), method: :delete %></p>
            <p class="controllerbtn"><%= link_to "Edit", edit_interviewreview_path(i) %></p>
            <% end %>
            <% end %>

            <div class="flex-boxes">
              <a href="javascript:void(0)" class="flex-box">
                <p> Had an interview with this company? add a review! </p>
                <%= form_for :interview, url: interviewreviews_path, method: :post do |f| %>
                <p><% f.label :company %>
                  <%= f.hidden_field :company, :value => @name %>
                </p>

                <p><%= f.label :experience %>
                  <%= f.text_area :experience %>
                </p>

                <p><%= f.label :length %>
                  <%= f.select(:length, ['Less than 30 min', 'About 30 min', 'Less then an hour', '1-2 hours', '2-4 hours', '5+ hours']) %>
                </p>
                <p>
                  <%= f.label :difficulty %>
                  <%= f.select(:difficulty, ['very easy', 'easy', 'medium', 'difficult', 'very difficult']) %>
                </p>
                <p>
                  <%= f.submit %>
                </p>
                <% end %>
              </a>
            </div>
          </div>

          <div class="col-1-2">
            <ul>
              <li class>
                <div class="flex-boxes">
                  <a href="javascript:void(0)" class="flex-box">
                    <% unless @review == nil %>
                    <p>Headline:   <%= @review["headline"] %></p>
                    <p>Pros:   <%= @review["pros"] %></p>
                    <p>Cons:   <%= @review["cons"] %></p>
                    <% end %>
                  </a>
                </div>

                <% if Review.where(company: @name) != [] %>
                <%#I dont know how this keeps getting taken out everytime but please if you
                do a merge, leave this in. It is important.  %>
                <% Review.where(company: @name).each do |f| %>
                <div class="flex-boxes">
                  <a href="javascript:void(0)" class="flex-box">
                    <p><%= f.headline %></p>
                    <p>Pros:  <%= f.pros %></p>
                    <p>Cons:  <%= f.cons %></p>
                  </a>

                </div>
                <p class="controllerbtn"><%= link_to "Delete", review_path(f), method: :delete %></p>
                <p class="controllerbtn"><%= link_to "Edit", edit_review_path(f) %></p>
                <% end %>
                <% end %>


                <div class="flex-boxes">
                  <a href="javascript:void(0)" class="flex-box">
                    <p> Add a review!</p>
                    <%= form_for :reviews, url: reviews_path, method: :post do |f| %>
                    <p><% f.label :company %>
                      <%= f.hidden_field :company, :value => @name %>
                    </p>
                    <p><%= f.label :headline %>
                      <%= f.text_field :headline %>
                    </p>

                    <p><%= f.label :pros %>
                      <%= f.text_area :pros %>
                    </p>

                    <p><%= f.label :cons %>
                      <%= f.text_area :cons %>
                    </p>
                    <p>
                      <%= f.submit %>
                    </p>
                    <% end %>
                  </a>
                </div>
              </div>

            </div>
          </li>
          <li>
            <div class="content__wrapper">
              <!-- <h1>this is the amazon info</h1>

              <% @items.each do |r| %>
              <div class="cards" >
                <div class="insideimage">
                  <a href=<%= r.url %>>
                    <img src=<%= r.image %>></img>
                  </a>
                </div>
                <div class="insidetext">
                  <%= r.clothing_title %>
                  <%= r.price %>
                </div>
                <%= form_for :number, url: amazoncart_index_path(r.asin) do |f| %>
                <%= f.submit "add to cart" %>
                <%= f.hidden_field :ASIN, value: r.asin %>
                <% end %>

              </div>
              <% end %> -->

              <div id="columns">
                <% @pins.each do |p| %>
                <figure>
                  <a href=<%= p.url %>>
                    <img src=<%= p.image %>></img>
                  </a>
                  <figcaption><%= p.note %></figcaption>
                </figure>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
      </body>
      </html>
