<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700' rel='stylesheet' type='text/css'>
<ul class="tabs">
  <li class="active">Company Info</li>
  <li>Attire</li>
</ul>

  <ul class="tab__content">
    <!-- comapny reviews -->
    <li class="active">




      <!-- <div class="content__wrapper"> -->
      <%= form_tag("/savedinterviews", method: "post") do %>
        <input type="hidden" name="company" value=<%= @name %>>
        <input type="hidden" name="position" value="<%= params[:positions] %>">
        <button class="save" type="submit" value="Submit"> Click to Save this company <br> and position for later </button>
      <% end %>

      <div class="grid grid-pad">
        <div class="col-1-2 ">

            <%= render partial: "/shared/company_info" %>

            <% if Interviewreview.where(company: @name) != [] %>
            <% Interviewreview.where(company: @name).each do |i| %>
            <%= render partial: "/shared/interviewreview_partial", locals: { i: i } %>
            <%= render partial: "/shared/interviewreview_buttons", locals: { i: i } %>
            <% end %>
            <% end %>

                <div class="flex-boxes">
                  <a href="javascript:void(0)" class="flex-box">
                    <%= render partial: "/shared/intervew_questionair" %>
                  </a>
                </div>
            <div class="flex-boxes">
            <a href="javascript:void(0)" class="flex-box">
              <%= render partial: "/shared/directions_panel" %>


                <div id="map"></div>

              <script async defer
              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJh1HtXl2x_IC54PoCH4qKYwhsxKNkAhs&callback=initMap">
              </script>
            </a>
          </div>
      </div>


        <div class="col-1-2">
          <ul>
            <li class>
              <%= render partial: "/shared/glassdoor_review" %>
              <%= render partial: "/shared/modal" %>

              <%= render partial: "/shared/user_reviews" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  </li>
  </li>


  <li>


      <%# render partial: "/shared/amazon_info" %>
  <p class="chosencompany">
    Because you searched for <u><%= @name.upcase %></u> with <u><%= params[:positions].upcase %></u>, the clothing category is <u><%= @category.upcase %></u>, but feel free to choose from any
    <button class="show">Category</button>
    <button class="hide">Category</button>
  </p>
      <%= render partial: "/shared/pintrest_widgets" %>
      <%= render partial: "/shared/pintrest_data" %>
              </li>


</ul>
