<!DOCTYPE html>
<html>

<head>
  <title>Geolocation</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    height: 50%;
    width: 40%;
  }
  </style>
</head>
<div id="map"></div>
<script>

function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 15
  });
  var infoWindow = new google.maps.InfoWindow({map: map});

  // Try HTML5 geolocation.
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };
      console.log(pos)
      infoWindow.setPosition(pos);
      infoWindow.setContent('Location found.');
      map.setCenter(pos);
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
  }
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
    'Error: The Geolocation service failed.' :
    'Error: Your browser doesn\'t support geolocation.');
  }

  </script>

  <script>
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJh1HtXl2x_IC54PoCH4qKYwhsxKNkAhs&&callback=initMap" async defer></script>
  </script>


  <body class="backgroundColor">
    <section class="wrapper"><!-- may need to add a nav-bar div -->
      <ul class="tabs">
        <li class="active">Interview Tips</li>
        <li>Attire</li>
      </ul>

      <!-- start of grid system -->
      <div class="grid grid-pad">
        <div class="col-1-2 ">
          <div class="flex-boxes">
            <a href="javascript:void(0)" class="flex-box">
              <h1 class="flex-title"><%= @name %></h1>
              <p><%= @industry %></p>
              <p><%= @sector %></p>
              <p><%= @total_rating %></p>
              <% unless @balance_rating == nil %>
              <p><%= @balance_rating %></p>
              <% end %>
              <% unless @benefits_rating == nil %>
              <p><%= @benefits_rating %></p>
              <% end %>
            </a>
          </div>

          <% if Interviewreview.where(company: @name) != [] %>
          <% Interviewreview.where(company: @name).each do |i| %>
          <div class="flex-boxes">
            <a href="javascript:void(0)" class="flex-box">

              <p><%= i.company %>
                <%= i.experience %>
                <%= i.length %>
                <%= i.difficulty %></p>
              </a>
              </div>
              <% end %>
              <% end %>

              <div class="flex-boxes">
                <a href="javascript:void(0)" class="flex-box">
                  <p> Had an interview with this company? add a review! </p>
                  <%= form_for :interview, url: interviewreviews_path, method: :post do |f| %>
                  <p><% f.label :company %>
                    <%= f.hidden_field :company, :value => @name %>
                  </p>

                  <p><%= f.label :experience %>
                    <%= f.text_area :experience %>
                  </p>

                  <p><%= f.label :length %>
                    <%= f.select(:length, ['Less than 30 min', 'About 30 min', 'Less then an hour', '1-2 hours', '2-4 hours', '5+ hours']) %>
                  </p>
                  <p>
                    <%= f.label :difficulty %>
                    <%= f.select(:difficulty, ['very easy', 'easy', 'medium', 'difficult', 'very difficult']) %>
                  </p>
                  <p>
                    <%= f.submit %>
                  </p>
                  <% end %>
                  </a>
                </div>
              </div>


              <!-- end of col 1 ----------------------------->

              <div class="col-1-2 company">
                <!-- map is supposed to go here. -->

                <!-- COMPANY review -->
                <ul class="tab__content">
                  <!--  ROW 2 ----------------------------------->
                  <li class="active">
                    <div class="flex-boxes">
                      <a href="javascript:void(0)" class="flex-box">
                        <% unless @review == nil %>
                        <p>Headline:   <%= @review["headline"] %></p>
                        <p>Pros:   <%= @review["pros"] %></p>
                        <p>Cons:   <%= @review["cons"] %></p>
                        <% end %>
                        </a>
                      </div>

                      <div class="flex-boxes">
                        <a href="javascript:void(0)" class="flex-box">
                          <%= form_for :reviews, url: reviews_path, method: :post do |f| %>
                          <p><% f.label :company %>
                            <%= f.hidden_field :company, :value => @name %>
                          </p>
                          <p><%= f.label :headline %>
                            <%= f.text_field :headline %>
                          </p>

                          <p><%= f.label :pros %>
                            <%= f.text_area :pros %>
                          </p>

                          <p><%= f.label :cons %>
                            <%= f.text_area :cons %>
                          </p>
                          <p>
                            <%= f.submit %>
                          </p>
                          <% end %>
                          </a>
                        </div>
                      </div><!---  End of grid-pad   ------------------------------>
                    </section>
                  </body>
                  </html>
                  <!-- <li>
                  <div class="content__wrapper">

                  <% @items.each do |r| %>
                  <div class="cards" >
                  <div class="insideimage">
                  <a href=<%= r.url %>>
                  <img src=<%= r.image %>></img>
                </a>
              </div>
              <div class="insidetext">
              <%= r.clothing_title %>
              <%= r.price %>
            </div>
            <%= form_for :number, url: amazoncart_index_path(r.asin) do |f| %>
            <%= f.submit "add to cart" %>
            <%= f.hidden_field :ASIN, value: r.asin %>
            <% end %>
          </div>
          <% end %>

        </div>
      </li> -->
