<!DOCTYPE html>
<html>
  <head>
    <title>ReadySetPrep</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<%#this is the navbar!!!  %>

<nav role="navigation">
  <div id="menuToggle">

    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <a href="/"><li>Home</li></a>
      <a href="/aboutus"><li>About</li></a>
        <% if current_user%>
        <a ><li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li></a>
        <a href="/savedinterviews"><li>Saved Interviews</li></a>
        <%= image_tag("smallinsig.png", class:"logo") %>
      <% else %>
      <li class="signin"><a href="/users/sign_in">Log In</a></li>
      <% end %>

    </ul>
  </div>

</nav>

<%# this is the end of the navbar!!! %>
    <div class="flashmessage">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
