<!DOCTYPE html>
<html>
  <head>
    <title>ReadySetPrep</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


<%#this is the navbar!!!  %>

<nav role="navigation" class="navigation-role">
  <div id="menuToggle">

    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
        <% if current_user%>
        <a href="/"><li><p>Home</p></li></a>
        <a href="/aboutus"><li><p>About</p></li></a>
        <a href="/interviewprep"><li><p>Interview Prep</li></a>
      <a href="/savedinterviews"><li><p>Saved Interviews</p></li></a>
        <p><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></p>
        <% else %>
        <a href="/"><li><p>Home</p></li></a>
        <a href="/aboutus"><li><p>About</p></li></a>
        <a href="/interviewprep"><li><p>Interview Prep</li></a>
      <a href="/users/sign_in"><li><p>Log In</p></li></a>
        <% end %>

    </ul>
  </div>
  <% if current_user %>
  <%= image_tag("newtitle.png", class:"logo") %>
  <%= image_tag("WATERCOLORfull.png", class:"watercolor") %>
  <% else %>
  <% end %>
</nav>

<%# this is the end of the navbar!!! %>
    <div id="flash">
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: name %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
